body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: aqua;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}